.menu__button_active {
    animation: scale 1s infinite;
}

.menu__button_active:hover {
    animation-play-state: paused;
}

@keyframes scale {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}