.menu__button_active {
    animation: scale 1.5s ease-in-out 1s infinite both;
}

.menu__button_active:focus {
    animation: rotation 1.5s cubic-bezier(.09, .61, .76, 1) 0.8s 1 forwards;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(720deg);
    }
}
@keyframes scale {
    0% {
       transform:scale(1,1);
    }
    100% {
        transform: scale(1.1,1.1);
    }
}