.menu__container {
    transform: translateX(-100%);
    transition: all 1s ease;
    width: 250px;
    height: 100%;
    background-color: #f0f8ff;
    opacity: 0.8;
    position: absolute;
    transition-delay: .6s;
}