@import url('./__button/menu__button.css');
@import url('./__list/menu__list.css');
@import url('./__container/menu__container.css');
@import url('./__list-item/menu__list-item.css');
@import url('./social-icon/menu__social-icon.css');
.menu {
    display: flex;
    position: fixed;
    width: 72px;  
    height: 100vh; 
    justify-content: flex-end; 
    transition: all 1s ease;
}