.menu__button {
    width: 40px;
    height: 40px;
    background-image: url('../../../images/tooth-button.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    border: 0;
    border-radius: 50%;
    margin: 16px;
    background-position: center;
    cursor: pointer;
    outline: 0;
    /* box-shadow: 0 0 5px 1px blue; */
    box-shadow: 0 0 2px red;
    transition: transform 1s ease;
    /* position: absolute; */
    z-index: 1;
}
 .menu__button:hover {
      /* direction fill-mode */
    /* transform: rotate(360deg);
    /* transition-property: transform, margin;   */  
} 
.menu__button:active {
    /* width: 35px;
    height: 35px;
    margin: 18px;
    box-shadow: none; */
    width: 45px;
    height: 45px;
    margin: 13px;
    box-shadow: 0 0 5px 2px red;
}

